<div class="ocean">
  <div class="waves">

  </div>
</div>
<ion-content class="swiper-no-swiping">
  <div class="title ion-text-center">My Money APP</div>
  <ion-img src="assets/header.png"></ion-img>

  <div class="logo">
    <ion-img src="assets/mn.png"></ion-img>
  </div>

  <div class="container top">

    <ion-segment (ionChange)="segmentChanged($event)" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" >
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block">Entrar</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" >
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" >
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" >
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword" (ionChange)="checkPassword()" ></ion-input>
          <ion-text *ngIf="password && !passwordMatch" color="danger">Senha não corresponde!</ion-text>
          <ion-text *ngIf="password && passwordMatch" color="success">Senha corresponde</ion-text>
        </ion-item>

        <ion-button class="ion-margin-top" [disabled]="!passwordMatch" (click)="register()" color="light" expand="block">Cadastrar</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="senhaE">
    <ion-button fill="clear" class="ion-no-padding">Esqueci minha senha</ion-button>
 </div>

  <div class="text-tag">
    <span>Ou via Redes Sociais</span>
    </div>

    <div class="social-btns">
        <ion-button fill="clear"  class="facebookbtn ion-no-padding">
      <ion-img src="assets/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear"  class="googlebtn ion-no-padding">
      <ion-img src="assets/google.png"></ion-img>
        </ion-button>

      </div>



</ion-content>
